<section class='empty-library__bg-image'>
  <div class='container'>
    <h2 class='empty-library__title'>Ups... You don't have any film yet!</h2>
    <div class='empty-library__item'>
      <button class='btn btn--dark-theme' type='button'>Find film</button>
    </div>
  </div>
</section>