<footer class="footer">
  <span class="footer__text copyright">&copy; 2021 | All Rights Reserved |</span>
  <span class="footer__text"
    >Developed with
    <svg height="13" width="14" class="heart-icon">
      <use href="./images/icons/sprite.svg#heart" class="logo-icon"></use>
    </svg>
    <span class="footer__text"
      >by
      <a
        href="https://squidoo22.github.io/filmoteka-project"
        target="_blank"
        class="footer__text footer__link"
        rel="noreferrer noopener"
        aria-label="Our Github"
        title="Our Github"
        >GoIT Students</a
      >
    </span>
  </span>
</footer>
