<div class="lightbox js-lightbox visually-hidden" id="our-team-modal">
  <div class="modal-background">
    <div class="lightbox__content">
      <button type="button" class="lightbox__button button-close" data-action="close-lightbox">
        <svg width="30" height="30" class="close-modal-button">
          <use href="./images/icons/sprite.svg#close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Team "Bugbusters"</h2>
      <ul class="team"></ul>
      <div class="slider-container"></div>
      <div id="controls" class="slider-controls">
        <svg class="previous" width="35" height="35">
          <use href="./images/icons/sprite.svg#arrow-left"></use>
        </svg>
        <svg class="next" width="35" height="35">
          <use href="./images/icons/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
