// Styles for input
.search-form {
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-top: 40px;

  @media screen and(min-width: $tablet) {
    display: inline-flex;
    margin-left: 30%;
    margin-right: 30%;
  }
}

.search-form__input {
  width: 100%;
  background: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0.5px solid $white-text-color;
  outline: none;

  font-size: 14px;
  line-height: 1.14;
  color: $white-text-color;

  @media screen and(min-width: $tablet) {
    width: 336px;
  }

  &:focus {
    border-bottom: 0.5px solid $accent-color;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    font-weight: normal;
    color: $white-text-color;
  }
}

.search-form__icon-svg {
  position: absolute;
  right: 0px;
}
