.header {
  min-width: 100%;
  height: 230px;

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

// Navigation
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__nav-list {
  display: flex;
}

.header__btn {
  border: none;
  outline: none;
  background: transparent;

  font-size: $font-size;
  line-height: 1.17;
  text-transform: uppercase;
  color: $white-text-color;

  margin-top: 58px;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $hover-rating-color;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 39px;
}

.current-page {
  border-bottom: 3px solid $accent-color;
}

//Styles for logo
.logo__name {
  display: none;

  @media screen and(min-width: $tablet) {
    display: inline-block;
    font-weight: $font-weight;
    font-size: 30px;
    line-height: 1.17;
    color: $white-text-color;
    margin-left: 10px;
  }
}

.logo__icon-svg {
  width: 24px;
  height: 24px;
  margin-right: auto;
}

//Styles for library buttons

.btn--dark-theme {
  color: $white-text-color;

  @media screen and(min-width: $tablet) {
    width: 136px;
  }
}

.header__library-item:not(:last-child) {
  margin-right: 15px;
}

.btn-set {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
