.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}

.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-height: 100vh;
  max-width: 100%;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 1;
  will-change: transform;
  overflow-y: auto;
}

.modal {
  padding: 50px 30px;
  width: 882px;
  height: 568px;

  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);

  @media screen and (max-width: 768px) {
    width: 618px;
    height: 562px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    min-height: 958px;
    max-height: 100vh;
  }
}

.basicLightbox-bg {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: unset;
  border-radius: 50%;
  background-color: #ff6b01;
  background-image: url('https://basiclightbox.electerious.com/assets/images/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.img__container {
  position: absolute;
  width: 396px;
  height: 477.8px;
  left: 30px;
  top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;

  @media screen and (max-width: 768px) {
    width: 264px;
    height: 374px;
    top: 40px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 240px;
    height: 357px;
    left: 20px;
    top: 50px;
  }
}

.modal__button {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 456px;
  top: 422px;
  border: unset;
  background: #ff6b01;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (max-width: 768px) {
    left: 324px;
    top: 478px;
    width: 125px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 113px;
    left: 20px;
    top: 873px;
  }
}

.modal__button--position {
  left: 607px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #fff;

  @media screen and (max-width: 768px) {
    left: 464px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 148px;
  }
}

.modal__title {
  position: absolute;
  left: 456px;
  top: 50px;

  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;

  color: #000000;

  @media screen and (max-width: 768px) {
    left: 324px;
    top: 40px;
    font-size: 20px;
    line-height: 1.15;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 20px;
    top: 435px;
    line-height: 1.17;
  }
}

.modal__text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;
}

.modal__list {
  position: absolute;
  left: 450px;
  top: 135px;

  @media screen and (max-width: 768px) {
    left: 317px;
    top: 90px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 20px;
    top: 485px;
  }
}

.modal__list--position {
  position: absolute;
  left: 608px;
  top: 135px;

  @media screen and (max-width: 768px) {
    left: 432px;
    top: 82px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 128px;
    top: 476px;
  }
}

.list__item {
  margin-bottom: 10px;
}

.list__grade {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  padding-left: 50px;

  @media screen and (max-width: 768px) {
    padding-left: 35px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-left: 12px;
  }
}

.list__grade--flex {
  display: flex;
  align-items: center;
}

.list__grade--color {
  width: 36px;
  height: 16px;
  color: #fff;
  background: #ff6b01;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.list__grade--color--gray {
  width: 36px;
  height: 16px;

  background: #f7f7f7;
  border-radius: 5px;

  display: flex;
  justify-content: center;
}

.modal__about {
  position: absolute;
  left: 456px;
  top: 255px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #000000;

  @media screen and (max-width: 768px) {
    left: 324px;
    top: 205px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 20px;
    top: 620px;
  }
}

.modal__desc {
  position: absolute;
  left: 456px;
  top: 275px;
  padding-right: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  overflow: auto;
  height: 140px;

  color: #000000;

  @media screen and (max-width: 768px) {
    left: 324px;
    top: 230px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 20px;
    top: 645px;
  }
}

.modal__desc::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
}

.modal__desc::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $accent-color;
}

.btn__disabled {
  display: none;
  background-color: grey;
  color: #fff;
}

.modal__table {
  width: 40%;

  @media screen and (max-width: 768px) {
    width: 47%;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 89%;
  }
}
